///////////////////////////////////////////////////////////////////////////////
// Curriculum Vitae
///////////////////////////////////////////////////////////////////////////////

.cv section { margin-bottom: $sec-margin }

.cv-section-body { margin-left: $indent }

.cv-section-body.not-indented { margin-left: 0 }

.cv-item {

    margin: 1em 0 ;

    .cv-item-title { font-weight: bold }

    .cv-item-subtitle { font-style: italic }

    .cv-item-description {
        margin-left: $indent ;
        p { text-align: justify }
    }
}

.cv-item .hidden, .news-item .hidden {
    font-size: 90% ;
    background-color: $code-bgcolor ;
    border-radius: $bradius ;

    @include block-spaces ;
    h3:first-child { margin-top: 0.2em } ;
}

.hidden-nobg {
    background-color: transparent !important;
    // border: 1px solid $h2-border !important;
}

.cv-subsection {
    margin-bottom: 2em ;
    h3 {
        font-size: 1.1em ;
        margin-bottom: 1em ;
    }
}

.cv-subsection-body { margin-left: $indent }


.with-date {
    display: grid ;
    align-items: center ;
    grid-template-columns: auto $date-len ;

    .date, div.venue {
        padding-left: 3em ;
        text-align: right ;
    }
}

///////////////////////////////////////////////////////////////////////////////

.button {
    cursor: pointer ;
    white-space:nowrap;
    text-decoration: none ;
    background-color: $code-bgcolor ;
    border-radius: $bradius ;
    border: 1px solid darken($code-bgcolor, 10%) ;
    font-size: 85% ;
    font-style: normal ;
    padding: 0.2em 0.4em ;
}

.button:hover {
    background-color: darken($code-bgcolor, 3%) ;
}

///////////////////////////////////////////////////////////////////////////////
// Specific

.cv .feedback {
    @include spaced-paragraphs(1em) ;
    font-style: italic ;
    padding: 2em ;
}

.edu-location { font-weight: normal }

.publication .with-date {
    align-items: flex-start ;
}

///////////////////////////////////////////////////////////////////////////////
