<div class="news-item">
    <div class="news-item-body">
        <div>
            <span>{{ inline_markdown(item["what"]) }}</span>
            {% if "details" in item %}
                <span class="xsmall-hsep"></span>
                <span class="toggle button" onclick="toggle('{{ item['id'] }}')">Details</span>
            {% endif %}
        </div>
        {% if "details" in item %}
            <div id="{{ item['id'] }}" class="indented hidden" style="display:none">
                {{ markdown(item["details"]) }}
            </div>
        {% endif %}
    </div>
    <div class="date">
        {% if "when" in item %}
            {{ item["when"] }}
        {% endif %}
    </div>
</div>