<div class="cv-item publication">
    <div class="with-date">
        <div>
            <div class="publication-title cv-item-title">
                {{ publication["title"] }}
                {% if "subtitle" in publication %}
                <br/> <i> {{ publication["subtitle"] }} </i>
                {% endif %}
            </div>
            <div class="publication-infos cv-item-subtitle">
                {% if "authors" in publication %}
                <span class="publication-authors">
                    {{ publication["authors"] }}
                </span>
                {% endif %}
                {% if "infos" in publication %}
                <span>
                    {{ inline_markdown(publication["infos"]) }}
                </span>
                {% endif %}
                <span class="xsmall-hsep"></span>
                {% if "abstract" in publication %}
                <span class="toggle button" onclick="toggle('abstract:{{ publication_ref }}')">
                    Abstract
                </span>
                {% endif %}
                <a class="button" href="{{ publication['file'] }}">Paper</a>
                {% if "code" in publication %}
                    <a class="button" href="{{ publication['code'] }}">Code</a>
                {% endif %}
                {% if "poster" in publication %}
                    <a class="button" href="{{ publication['poster'] }}">Poster</a>
                {% endif %}
            </div>
            {% if "abstract" in publication %}
            <div class="cv-item-description">
                <div id="abstract:{{ publication_ref }}" class="hidden" style="display:none">
                    {{ markdown(publication["abstract"]) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="venue">
            {{ publication["venue"] }}
        </div>
    </div>
</div>