<div class="cv-item publication">
    <div class="with-date">
        <div>
            <div class="publication-title cv-item-title">
                {{ publication["title"] }}
            </div>
            <div class="publication-infos cv-item-subtitle">
                {% if "authors" in publication %}
                    <span class="publication-authors">
                        {{ publication["authors"] }}
                    </span>
                {% endif %}
                {% if "infos" in publication %}
                    <span>
                        {{ markdown(publication["infos"]) }}
                    </span>
                {% endif %}
                <span class="xsmall-hsep"></span>
                <span class="toggle button" onclick="toggle('abstract:{{ index }}')">Abstract</span>
                <a class="button" href="{{ publication['file'] }}">Paper</a>
                {% if "code" in publication %}
                    <a class="button" href="{{ publication['code'] }}">Code</a>
                {% endif %}
            </div>
            {% if "abstract" in publication %}
            <div class="cv-item-description">
                <div id="abstract:{{ index }}" class="hidden" style="display:none">
                    {{ publication["abstract"] }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="venue">
            {{ publication["venue"] }}
        </div>
    </div>
</div>