<div class="news-item">
    <div class="news-item-body">
        <div>
            <span>$inline-markdown(what)$</span>
            $if(details)$
                <span class="xsmall-hsep"></span>
                <span class="toggle button" onclick="toggle('$id$')">Details</span>
            $endif$
        </div>
        $if(details)$
            <div id="$id$" class="indented hidden" style="display:none">
                $markdown(details)$
            </div>
        $endif$
    </div>
    <div class="date">
        $if(when)$
            $when$
        $endif$
    </div>
</div>