{% extends "base.html" %}
{% set show_footer = true %}
{% block title %}Jonathan Laurent - CV{% endblock %}
{% block body %}

{% include "abstract.html" %}

<div id=main class="cv inside">


  <!-- EDUCATION -->

  <section id="education">
    <h2>Education</h2>
    <div class="cv-section-body">
      {% for item in education %}
        <div class="cv-item">
          <div class="with-date">
            <div>
              <div class="cv-item-title">
                <span class="edu-institution">{{ item["institution"] }},</span>
                <span class="edu-location">{{ item["location"] }}</span>
              </div>
              <div class="cv-item-subtitle">{{ markdown(item["subtitle"]) }}</div>
              <div class="cv-item-description">
                {{ inline_markdown(item["description"]) }}
                {% with %}
                  {% set details = item["details"] %}
                  {% include "details.html" %}
                {% endwith %}
              </div>
            </div>
            <div class="date">{{ markdown(item["when"]) }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>


  <!-- RESEARCH EXPERIENCE -->

  <section id="research">
    <h2>Research Experience</h2>
    <div class="cv-section-body">
      {% for item in research %}
        {% include "large-item.html" %}
      {% endfor %}
    </div>
  </section>


  <!-- TEACHING EXPERIENCE -->

  <section id="teaching">
    <h2>Teaching Experience</h2>
    Here is a copy of my <a href="pdf/teaching-statement.pdf">teaching statement</a>.
    <div class="cv-section-body">
      {% for item in teaching %}
        {% include "large-item.html" %}
      {% endfor %}
    </div>
  </section>


  <!-- PUBLICATIONS -->

  <section id="publications">
    {% include "publications-section.html" %}
  </section>


  <!-- TALKS -->

  <section id="talks">
    <h2>Selected Talks</h2>
    <div class="cv-section-body">
      {% for talk in talks %}
        <div class="cv-item talk">
            <div class="talk-title cv-item-title">
                {{ talk["title"] }}
            </div>
            {% for loc in talk["locations"] %}
                <div class="with-date">
                    <div class="talk-infos cv-item-subtitle">
                        {% if "event" in loc %}
                          {% if "where" in loc %}
                            {{ loc["event"] }},
                          {% else %}
                            {{ loc["event"] }}
                          {% endif %}
                        {% endif %}
                        {% if "where" in loc %} {{ loc["where"] }}. {% endif %}
                    </div>
                    <div class="date">
                        {{ loc["date"].strftime("%B %Y") }}
                    </div>
                </div>
            {% endfor %}
            <div class="cv-item-description">
                {% if "slides" in talk %}
                    <a class="button" href="{{ talk['slides'] }}">Slides</a>
                {% endif %}
                {% if "slides-pdf" in talk %}
                    <a class="button" href="{{ talk['slides-pdf'] }}">Slides (PDF)</a>
                {% endif %}
                {% if "video" in talk %}
                    <a class="button" href="{{ talk['video'] }}">Video</a>
                {% endif %}
            </div>
        </div>
      {% endfor %}
  </div>
  </section>


  <!-- HONORS AND AWARDS -->

  <section id="service">
    <h2>Honors and Awards</h2>
    <div class="cv-section-body news">
      {% for item in awards %}
        {% include "dated-item.html" %}
      {% endfor %}
    </div>
  </section>


  <!-- SERVICE -->

  <section id="service">
    <h2>Professional Service</h2>
    <div class="cv-section-body news">
      {% for item in service %}
        {% include "dated-item.html" %}
      {% endfor %}
    </div>
  </section>


  <!-- SKILLS -->

  <section id="skills">
    <h2>Skills</h2>
    {{ skills }}
  </section>

</div>

{% endblock %}