{% extends "base.html" %}
{% set show_footer = true %}
{% block title %}Jonathan Laurent - CV{% endblock %}
{% block body %}

{% include "abstract.html" %}

<div id=main class="cv inside">

  <!-- EDUCATION SECTION -->

  <section id="education">
    <h2>Education</h2>
    <div class="cv-section-body">
      {% for item in education %}
        <div class="cv-item">
          <div class="with-date">
            <div>
              <div class="cv-item-title">
                <span class="edu-institution">{{ item["institution"] }},</span>
                <span class="edu-location">{{ item["location"] }}</span>
              </div>
              <div class="cv-item-subtitle">{{ markdown(item["subtitle"]) }}</div>
              <div class="cv-item-description">
                {{ inline_markdown(item["description"]) }}
                {% with %}
                  {% set details = item["details"] %}
                  {% include "details.html" %}
                {% endwith %}
              </div>
            </div>
            <div class="date">{{ markdown(item["when"]) }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section id="publications">
    {% include "publications-section.html" %}
  </section>

  <!-- HONORS AND AWARDS -->

  <section id="service">
    <h2>Honors and Awards</h2>
    <div class="cv-section-body news">
      {% for item in awards %}
        {% include "dated-item.html" %}
      {% endfor %}
    </div>
  </section>


  <!-- SERVICE -->

  <section id="service">
    <h2>Professional Service</h2>
    <div class="cv-section-body news">
      {% for item in service %}
        {% include "dated-item.html" %}
      {% endfor %}
    </div>
  </section>


  <!-- SKILLS -->

  <section id="skills">
    <h2>Skills</h2>
    {{ skills }}
  </section>

</div>

{% endblock %}