{% extends "base.html" %}
{% block title %}Jonathan Laurent{% endblock %}
{% block body %}

{% include "abstract.html" %}

<div id="main" class="inside">

    <!-- NEWS SECTION -->

    <section>
        <h2>News</h2>
        <div class="news indented">
            {% for item in news %}
                <div class="news-item">
                    <div class="news-item-body">
                        {{ markdown(item["what"]) }}
                    </div>
                    <div class="date">
                        {{ item["when"] }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- SELECTED PUBLICATIONS SECTION -->

    <section>
        <h2>Selected Publications</h2>
        <div class="cv-section-body">
            {% for publication in publications %}
                {% if publication["featured"] %}
                    {% with %}
                        {% set publication_ref = "featured:"~loop.index %}
                        {% include "publication.html" %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
            <div class="small-sep"></div>
            <p>
                <i>
                    A complete list of publications can be found
                    <a href="/cv.html#publications">here</a>.
                </i>
            </p>
        </div>
    </section>

    <!---
    <section id="software">
        <h2>Software</h2>
        <div class="indented">
            $software$
        </div>
    </section> -->

</div>

{% endblock %}