{% extends "base.html" %}
{% block title %}Jonathan Laurent - Publications{% endblock %}
{% block body %}

<div id="main" class="inside">

    <h1>Publications</h1>

    {% set sections = [
        ("Conference Papers", "conference"),
        ("Workshop Papers", "workshop"),
        ("Theses and Reports", "report")
    ] %}

    {% for title, kind in sections %}
    <section>
        <h2>{{ title }}</h2>
        <div class="cv-section-body">
            {% for publication in publications %}
                {% if publication["kind"] == kind %}
                    {% with %}
                        {% set publication_ref = "featured:"~loop.index %}
                        {% include "publication.html" %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endfor %}

</div>

{% endblock %}