  /* Computer Modern Serif */

  @font-face {
    font-family: 'Computer Modern Serif';
    src: url("../fonts/cm/cmunrm.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    /* non-extended: cmunrb */
    /* extended: cmunbx */
    font-family: 'Computer Modern Serif';
    src: url("../fonts/cm/cmunbx.otf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    /* italic: cmunti */
    /* slanted: cmunsl */
    font-family: 'Computer Modern Serif';
    src: url("../fonts/cm/cmunsl.otf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    /* italic: cmunbi */
    /* slanted: cmunbl */
    font-family: 'Computer Modern Serif';
    src: url("../fonts/cm/cmunbi.otf");
    font-weight: bold;
    font-style: italic;
  }


  /* Computer Modern Sans */

  @font-face {
    font-family: 'Computer Modern Sans';
    src: url("../fonts/cm/cmunss.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Computer Modern Sans';
    src: url("../fonts/cm/cmunsx.otf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Computer Modern Sans';
    src: url("../fonts/cm/cmunsi.otf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Computer Modern Sans';
    src: url("../fonts/cm/cmunso.otf");
    font-weight: bold;
    font-style: italic;
  }


  /* Computer Modern Typewriter */

  @font-face { /* cmuntt */
    font-family: 'Computer Modern Typewriter';
    src: url("../fonts/cm/cmuntt.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Computer Modern Typewriter';
    src: url("../fonts/cm/cmuntb.otf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Computer Modern Typewriter';
    src: url("../fonts/cm/cmunit.otf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Computer Modern Typewriter';
    src: url("../fonts/cm/cmuntx.otf");
    font-weight: bold;
    font-style: italic;
  }


  /* Computer Modern Concrete */

  @font-face {
    font-family: 'Computer Modern Concrete';
    src: url("../fonts/cm/cmunorm.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Computer Modern Concrete';
    src: url("../fonts/cm/cmunoti.otf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Computer Modern Concrete';
    src: url("../fonts/cm/cmunobx.otf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Computer Modern Concrete';
    src: url("../fonts/cm/cmunobi.otf");
    font-weight: bold;
    font-style: italic;
  }



  /* Vollkorn Font */

  @font-face {
    font-family: 'Vollkorn';
    src: url("../fonts/vollkorn/Vollkorn-Regular.otf");
    font-weight: normal;
    font-style: normal;
  }

  /*@font-face {
    font-family: 'Vollkorn';
    src: url("../fonts/vollkorn/Vollkorn-Italic.otf");
    font-weight: normal;
    font-style: italic;
  }*/

  @font-face {
    font-family: 'Vollkorn';
    src: url("../fonts/vollkorn/Vollkorn-Bold.otf");
    font-weight: bold;
    font-style: normal;
  }

  /*@font-face {
    font-family: 'Vollkorn';
    src: url("../fonts/vollkorn/Vollkorn-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
  }*/


  /* Gentium Basic */

  @font-face {
    font-family: 'Gentium Basic';
    src: url("../fonts/gentium-basic/GenBasR.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gentium Basic';
    src: url("../fonts/gentium-basic/GenBasB.ttf");
    font-weight: bold;
    font-style: normal;
  }