///////////////////////////////////////////////////////////////////////////////
// Margins stylesheet
// Jonathan Laurent (2018)
///////////////////////////////////////////////////////////////////////////////

$block-padding: 15px ;

* { margin: 0 ; padding: 0 }

html {
    line-height: 1.5em ;
}

h1 {
    margin-top: 1.5em ;
    margin-bottom: 1em ;
}

h2 {
    margin-top: 1.3em ;
    padding-bottom: 0.3em ;
    margin-bottom: 1em ;
}

h3, h4, h5, h6 {
    margin-top: 1.1em ;
    margin-bottom: 0.7em ;
}

li {
    margin-left: 2em ;
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
}

///////////////////////////////////////////////////////////////////////////////

.katex-display { margin: 0.8em 0 }

header {
    padding-top: 10px ;
    padding-bottom: 12px ;
}

.article-header {
    h1 { 
        margin-top: 1.4em ;
        margin-bottom: 0.2em ;
    }
    margin-bottom: 1.6em ;
}

section#abstract {
    padding-top: 20px ;
    padding-bottom: 20px ;
}

section, article {
    padding-top: 0px ;
    padding-bottom: 0px ;
}

div#main {
    padding-top: 0.5em ;
    padding-bottom: 1.5em ;
}

footer {
    padding-top: 20px ;
    padding-bottom: 20px ;
}

pre code, .listing code {
    padding: $block-padding ;
    margin-top: 10px ;
    margin-bottom: 10px ;
}

blockquote {
    padding: $block-padding ;
    margin-top: 10px ;
    margin-bottom: 10px ;
}

p.metadata {
    margin: 10px 0px ;
}


#main p, #main ul {
    margin-bottom: 0.7em ;
}

blockquote p {
    margin-bottom: 0 !important ;
}

img.graphviz, img.diagram {
    display: block ;
    margin: 10px auto ;
}

#main section:first-of-type h1 { 
    margin-top: 1.4em ;
}

img.rmargin { margin-right: 2em }
img.lmargin { margin-left: 3em }

.smartgrid {
    grid-column-gap: 3em ;
}

///////////////////////////////////////////////////////////////////////////////