///////////////////////////////////////////////////////////////////////////////
// Website stylesheet
// Jonathan Laurent (2018)
///////////////////////////////////////////////////////////////////////////////

$main-font:          "Computer Modern Serif" ;
$title-font:         "Computer Modern Sans" ;
$ttfont:             "Computer Modern Typewriter" ;

$font-size:          10pt ;
$page-width:         750px ;
$bradius:            5px ;

$textcolor:          lighten(black, 0%) ;
$textdark:           lighten(black, 0%) ;

$bgcolor:            white ;
$abstract-bgcolor:   #DDDDDD ;
$code-bgcolor:       #F5F5F5 ;
$foot-bgcolor:       $abstract-bgcolor ;
$header-bgcolor:     lighten($abstract-bgcolor, 8%) ;

$abstract-border:    darken($abstract-bgcolor, 10%) ;
$foot-border:        darken($foot-bgcolor, 10%) ;
$header-border:      darken($abstract-bgcolor, 10%) ;
$h2-border:          $abstract-bgcolor ;
$link-line-color:    #999 ;

///////////////////////////////////////////////////////////////////////////////

@mixin small-devices {
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    { @content ; }
}

@mixin smart-bold($col) {
    text-shadow: -0.02ex 0 $col, 0.02ex 0 $col
}

///////////////////////////////////////////////////////////////////////////////

html {
    font-size: $font-size ;
    font-family: $main-font ;
    color: $textcolor ;
    background-color: $foot-bgcolor ;
}

.inside {
    width: $page-width ;
    max-width: 90% ;
    margin: auto ;
}

///////////////////////////////////////////////////////////////////////////////

h1, h2, h3, h4, h5, h6 { 
    font-family: $title-font ; 
    font-weight: normal 
}

h1 { font-size: 1.4em }
h2 { font-size: 1.15em }
h3 { font-size: 1.00em ; @include smart-bold($textcolor) }

h2 {
    @if variable-exists(h2-border){
        border-bottom: 1px solid $h2-border }
}

///////////////////////////////////////////////////////////////////////////////
// Links

a {
    text-decoration: none ;
    color: $textcolor ;
}

a:hover {
    @include smart-bold($textcolor) ;
}

// TODO
p a {
    text-decoration: none ;
    //font-style: italic ;
    color: $textdark ;
    //border-bottom: 1px dotted #999;
    text-decoration: underline ;
    text-decoration-style: dotted ;
    text-underline-position: under;
    text-decoration-color: $link-line-color ;
}

p a:hover {
    text-shadow: none ;
}

///////////////////////////////////////////////////////////////////////////////

li { list-style-type:square }

img.floatr {
    display: block ;
    float: right ;
}

img.floatl {
    display: block ;
    float: left ;
}

img.ornemental {
    @include small-devices { display: none }
}

.katex { font-size: 1em !important }
  
.katex-display .katex { font-size: 1em !important }


///////////////////////////////////////////////////////////////////////////////
// PAGE STRUCTURE

// HEADER

header {

    background-color: $header-bgcolor ;
    @if variable-exists(header-border){
        border-bottom: 1px solid $header-border 
    }

    .inside {
        display: grid ;
        grid-template-columns: auto max-content ;
        align-items: center;
    }

    h1 { font-size: 1.5em ; margin: 0.7em 0 }
    h1 a:hover { text-shadow: none }

    nav {
        display: block ;
        text-align: right ;
        a {
            display: inline-block ;
            margin-left: 10px ;
            margin-right: 10px ;
        }
        a:hover { @include smart-bold($textdark) }
    }
}

@include small-devices {
    header .inside {
        grid-template-columns: 1fr ;
    }
    header nav {
        text-align: left ;
        a { margin-left: 0px }
    }
}

// ABSTRACT

section#abstract {
    
    background-color: $abstract-bgcolor ;
    border-bottom: 1px solid $abstract-border ;
    @if not variable-exists(header-border) {
        border-top: 1px solid $abstract-border ;
    }    
}

// BODY

div#main {
    background-color: $bgcolor ;
    section, article {
        p { text-align: justify }
    }
}

// FOOTER

footer {
    background-color: $foot-bgcolor ;
    border-top: 1px solid $foot-border ;
    p { text-align: right }
}

///////////////////////////////////////////////////////////////////////////////
// CODE

/* There are three kinds of code blocks.
   1. Inline code: <code>...</code>
   1. Pandoc default display code blocks: <pre><code>...</code></pre>
   2. Display (highlighted): <div class="listing"><code>...</code></div> */

// We should not assign any style to <pre> but we can use it to
// recognize code blocks

pre { font-family: $ttfont }

// Inline code and common peoperties of code
code {
    font-family: $ttfont ;
    background-color: $code-bgcolor ;
    border-radius: $bradius ;
    font-size: 90% ;
    padding: 2px 4px ;
}

pre code, .listing code { display: block }

///////////////////////////////////////////////////////////////////////////////

blockquote {
    font-size: 1em ;
    font-style: italic ;
    background-color: $code-bgcolor ;
    border-radius: $bradius ;
    // border-left: 1px solid gray ;
}

///////////////////////////////////////////////////////////////////////////////
// GRIDS

.cols-auto-small {
    display: grid ;
    grid-template-columns: auto max-content ;
    align-items: center ;
}

.cols-small-auto {
    display: grid ;
    grid-template-columns: max-content auto ;
    align-items: center ;
}

.smartgrid {
    display: grid ;
    grid-template-columns: repeat(2, 1fr) ;
    @include small-devices {
        grid-template-columns: repeat(1, 1fr) ;
    }
    align-items: center ;
}

///////////////////////////////////////////////////////////////////////////////
// REFERENCES
// https://stackoverflow.com/questions/5687035/css-bolding-some-text-without-changing-its-containers-size